.active-menu{
    border-bottom: solid 3px #367DC4;
}

.div-search-admin{
    float: right;
    margin-top: -30px;
    margin-bottom: -15px;
}

.div-search-admin input{
    margin-top: 11px;
}

.div-btn-novo-admin{
    float: left; 
    margin-top: -20px;
    margin-bottom: 13px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.padding-table{
    padding: 20px 10px;
}

.margin-record{
    margin-left: 30px;
}

.testando{
    margin-top: -30px;
    padding-bottom: 30px;
}

.actions-admin a{
    margin-left: 5px;
}

#div-admin-novo{
    padding: 30px;
    display: none;
}

#div-admin-show{
    padding: 30px;
    display: none;
}

#mensagens a {
    color: #444;
}

#novo-evento-calendario{
    float: right;
    margin-top: 13px;
    margin-right: 15px;
}

#novo-evento-calendario-a{
    text-decoration: none;
}

#new-event{
    margin-top: 20px;
    margin-left: -70px;
    display: none;
}

.mensagem-detalhada{
    padding: 20px;
}

.mensagem-topo img{
    padding-right: 10px;
    padding-bottom: 10px;
}

.mensagem-btn{
    padding-bottom: 5px;
}

.div-admin-breadcrum{
    padding-bottom: 15px;
}

.margin-events-p{
    margin-top: -15px;
    margin-bottom: 15px;
}

.tbody-faltas p{
    float: left;    
    margin-bottom: -5px;                        

}

.tbody-faltas label{
    margin-left: 5px;
}

.control-buttons{

    float: right;
    margin-right: 25px;
    margin-bottom: 15px;

}

.btn-espaco {

    margin-right: 5px;

}

.padding-div {
    padding: 10px;
}

.arquivo{
    margin-left: 5px;
}

.padding-img{
    padding: 10px;
    margin-bottom: 20px;
}
#img-perfil{
    border: 2px solid #545454;
    width: 70px;
}

.div-p-font{
    text-align: center;
}

.div-p-font p{
    color: #000;
}

.div-p-font font{
    font-size: 11px;
    color: #545454;
}

#logout-li{
    background-color: #ff5757;
    border-color: #f33;
    text-align: center;
}

#logout-li a{
    color: #FFF;
    font-weight: bold;
}

#logout-li a:hover{
    background-color: #f33;
}

#div-select{
    text-align: center;
}

#div-hide-select{
    display: none;
}

#id-signup{
    display: none;
}

#img-loader{
    display: none;
}

.error{
    color: red;
}

.margin-top3{
    margin-top: 3px;
}