.guidely-number {
    background: url(guidely-number.png) no-repeat 0 0;
    width: 45px;
    height: 45px;	
    display: none;	
    position: absolute;
    cursor: pointer;	
    z-index: 10002;
}

.guidely-number span {
    width: 43px;
    height: 43px;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    text-align: center;
    display: block;
    line-height: 44px;
}

.guidely-guide {
    background: #FFF;
    width: 300px;
    display: none;
    border: 3px solid #999;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 0 12px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 12px rgba(0,0,0,0.4);
    box-shadow:0 0 12px rgba(0,0,0,0.4);

    z-index: 10001;
}

.guidely-guide h4 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    padding-bottom: 15px !important;
    padding: 0;
    margin: 0 0 1em;
    border-bottom: 1px dotted #CCC;
}

.guidely-guide-pad {
    font-size: 12px;
    line-height: 1.7em;
    padding: 15px 15px 5px 30px;

}

.guidely-anchor-right .guidely-guide-pad { padding: 15px 30px 5px 15px; }

.guidely-anchor-right .guidely-close-trigger { right: 30px; }

.guidely-popup 
{
    color: #444;
    display:block;
    padding: 0;
    background: #fff;

    -webkit-border-top-left-radius: 4px;	
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}





.guidely-controls {
    background: #EEE;
    text-align: right;
    padding: 7px 10px;
    margin-top: 1em;
}

.guidely-controls button {
    font-size: 11px;
    padding: 3px 8px;
    *padding: 1px 4px;
    cursor: pointer;
}

.guidely-overlay 
{
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background-color: #000;
    z-index: 10000;

    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity:0.30;
}

.guidely-start-trigger {
    background: #444;
    background: rgba(0,0,0,.6);
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    padding: 4px 10px 4px 12px;
    position: fixed;
    top: 0;
    right: 0;

    z-index: 9999;

    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;

}

.guidely-close-trigger {
    font-family: Helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #AAA;
    position: absolute;
    right:16px;
    top: 12px;
}

#guide-welcome { width: 350px; }

#guide-welcome .guidely-guide-pad { padding: 15px 15px 5px 15px; }