.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #AFBBC7;
}

.content-tabs{
    width: 56.5em;
    margin-top: 2em;
    padding: 1em 1.5em 1em 1.5em;
    margin-bottom: 2em;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -o-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -ms-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
}

.menu{
    margin-top: 2em;
    padding: 1em 1.5em 1em 1.5em;
    margin-bottom: 2em;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -o-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -ms-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
    box-shadow: 0 0 .4em rgba(0, 0, 0, .4);
}

.widget-content .user-heading {
    background: #F9F6F1;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.widget-content .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid rgba(256,256,256,0.3);
    display: inline-block;
}

.widget-content .user-heading a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.widget-content .panel {
    margin-bottom: 0;
}

.widget-content .user-heading h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000;
}

.user-heading p {
    margin: 0 0 2px;
    color: #000
}

.widget-content .user-heading p {
    font-size: 12px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 20px;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
}

.profile-nav ul > li > a:hover, 
.profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
    background: #f8f7f5 !important;
    border-left: 3px solid #AFBBC7;
    color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}


.border-b-dashed{
    border-bottom: .1em dashed #E2E2E2;
}

view dados 
.title-view{
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0 0;
    color: #5B5B5B;
}

.info-view{
    padding: 5px 0 0 0;
}

.menu-curso{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}


